@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Roboto:wght@300;400;500&display=swap');

.modal-overlay {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #ffffff;
  border: 1px solid #bebebe;
  border-radius: 2px;
}

.modalWindow {
  padding: 30px;
  border: 1px solid rgb(185, 185, 185);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 14px;
  grid-row-gap: 0px;
  font-family: 'Roboto', sans-serif;
}

.leftColumn {
  display: flex;
  flex-direction: column;
}

.modalWindowImg {
  max-width: 331px;
  min-height: 205px;
  margin-bottom: 29px;
}

.modalWindowImg > img{
  width: 100%;
  height: auto;
}

.apiComments {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.commentsDate{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #999999;
  margin-bottom: 8px;
}

.commentsText{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  align-items: center;
  text-align: left;
}