.galleryList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 11px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . .";
    width: 100%;
    height: auto;
    background: rgba(204, 204, 204, 0.288);
  }
  